<div class="container">
  <h1>Edit Profile for <%= @user.name %></h1>

  <%= render 'form' %>

  <div class="errors_explanation">
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Cancel", user_path(@user) %>
</div>